<div class="alert alert-success" id="myAlert" role="alert">
    Data Siswa Berhasil Dihapus
</div>

<script>
    // Menampilkan alert
    document.getElementById('myAlert').style.display = 'block';

    // Menghilangkan alert setelah 2 detik
    setTimeout(function () {
        document.getElementById('myAlert').style.display = 'none';
    }, 2000); // 2000 milidetik = 2 detik
</script>