<div class="modal fade" id="show-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Data Siswa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Nama Orang Tua</label>
                    <h3><span class="ortu_nama"></span></h3>
                </div>
                <div class="form-group">
                    <label for="name">Alamat Orang Tua</label>
                    <h3><span class="ortu_alamat"></span></h3>
                </div>

                <div class="form-group">
                    <label for="name">Pekerjaan Orang Tua</label>
                    <h3><span class="ortu_pekerjaan"></span></h3>
                </div>
                <div class="form-group">
                    <label for="name">No Hp Orang Tua</label>
                    <h3><span class="ortu_hp"></span></h3>
                </div>
                <div class="form-group">
                    <label for="name">Hubungan Orang Tua</label>
                    <h3><span class="ortu_hubungan"></span></h3>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" class="id" name="id">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
        </div>
        <script>
            // Tangkap custom event dari file pertama
            document.addEventListener("sendOrtuHubungan", function (event) {
                var ortu_hubungan_modal = event.detail;

                // Sekarang Anda dapat menggunakan nilai ortu_hubungan_modal sesuai kebutuhan
                console.log("Nilai ortu_hubungan dari file pertama:", ortu_hubungan_modal);
            });
        </script>
    </div>
</div>